<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="text-center mb-5"><%= title %></h1>


    <% include partials/nav.hbs %>

  


    





<div class="border border-success justify-content-center">
    <form action="/add" method="POST" class=" col-3 text-center m-auto pt-5 pb-5"  encType="multipart/form-data">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom">
       
      </div>
    
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" >
       
      </div>
      <div class="form-group">
        <label for="nom">Genre</label>
        <input type="text" class="form-control" id="genre" name="genre">
       
      </div>
      <div class="form-group ">
        <label>Upload Image</label>
        <div class="input-group ">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                   <input type="file" id="imgInp" name="photo">
                </span>
            </span>
        </div>
      </div>

      <div class="form-group">
        <label for="domaine">Domaine</label>
        <input type="text" class="form-control" id="domaine" name="domaine" >
       
      </div>
      <div class="form-group">
        <label for="dob">Date de naissance</label>
        <input type="date" class="form-control" id="dob" name="dob">
        
      </div>
      <div class="form-group">
        <label for="ville">Ville</label>
        <input type="text" class="form-control" id="ville" name="ville">
       
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  
  </form>
    




      
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
